body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
  }

header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(10, 74, 95);
  }

.left{
    display: inline-block;
    border: 2px;
  }

.right{
  display: inline-block;
  border: 2px;
  }

main {
  color: black;
  text-align: center;
  }

footer {
    background-color: lightgray;
    text-align: center;
  }