/* .card{
    width: 18rem;
} */

/* .card-img-top{
    width: 500;
} */

/* DisplayProduct.css */
.card {
    width: 10%;
    margin: 10px 10px;
    border: 1px black solid;
  }
  
  .card img {
    margin: auto;
    width: 100%;
    height: 200px; /* You can adjust the height as needed */
    object-fit: cover; /* To maintain aspect ratio and cover the container */
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-title {
    font-size: 18px;
    margin: 0;
  }
  
  .card-text {
    font-size: 14px;
  }
  
  .btn {
    margin-top: 10px;
  }
  