.productDisplayArea {
  display: flex;
}

.product-list {
  display: flex;
  align-items: start;
  width: 70%;
  flex-direction: column;
  margin: 10px 10px;
  border: 1px black solid;
}

.product-item {
    display: flex;
    width: 98%;
    margin: 1% 1%;
    border: 1px black solid;
  }

  .product-img {
    margin: auto;
    width: 30%;
    height: 100px;
    margin: 1% 1%;
    object-fit: cover; 
  }
  
  .product-item-details{
    /* width: 70%; */
  }

  
  .btn {
    margin-top: 10px;
  }
  
